.contest__item {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  margin: var(--space-4) 0;
  padding: var(--space-1);
  border-bottom: 1px solid var(--border-sub);
}
.contest__item a {
  font-size: var(--font-lg);
  color: var(--text-primary);
  text-decoration: none;
}
.contest__level {
  margin-left: auto;
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-md);
}
.contest__level--intro {
  background-color: var(--color-purple-100);
  color: var(--text-accent);
}
.contest__level--beginner {
  background-color: var(--color-purple-400);
  color: var(--text-accent);
}
.contest__level--intermediate {
  background-color: var(--color-purple-600);
  color: var(--text-inverse);
}
.contest__level--advanced {
  background-color: var(--color-purple-800);
  color: var(--text-inverse);
}
